@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

* {
    box-sizing: border-box;
    color:white;
    font-family: monospace;
}

:root {
    --ft-size: 10px;
    --bg-color: #FFFFFF;
    --ft-color: #000000;
    font-size: var(--ft-size);
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    /* scroll-padding: 10rem; */
    user-select: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

header {
    background-color: #fff;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-block: .5rem;
    padding-inline: 1rem;
    border-bottom: .1rem solid #00000020;
}

header > * {
    flex-grow: 1;
    color: var(--ft-color);
}

.logo {
    flex-grow: 1;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

nav {
    display: flex;

}

nav a {
    font-size: 1.1rem;
    color: inherit;
    flex-grow: 1;
    border-radius: 100vmax;
    text-align: center;
    text-decoration: none;
    letter-spacing: .2rem;
    display: grid;
    place-items: center;
    margin: 0 .5rem;

}

header a.active {
    background: #000;
    color: white;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

header a:hover {
    outline: 2px solid #00000050;
    text-decoration: underline;
    text-underline-offset: .5rem;
}


main {
    display: flex;
    flex-direction: column;
}

main .Profession {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    flex-grow: 1;
    display: grid;
    place-items: center;
    gap: 5rem 0;
    font-size: 3.5rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .2rem;
    text-align: center;
    height: calc(100vh);
}

.Profession  p {
    color: var(--ft-color);
    padding: 0 2rem;
    user-select: none;
    align-self: end;
}

main .Profession a {
    align-self: start;
    text-transform: capitalize;
    color: #000000;
    border: .2rem solid black;
    padding: 1rem 2rem;
    border-radius: 100vmax;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

main .Profession a:hover {
    background: #000000;
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.Profession a{
    display: inline-block;
    animation-name: inout;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes inout {
    to {
        box-shadow: 0 0 .3rem .5rem #00000015;
    }
}


/* intro */

.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20rem , 1fr));
    padding: 0 4rem;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    min-height: 100vh;
}

.left, .right {
    align-self: center;
}

.left p {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: .2rem;
}

.right img {
    width: 100%;
}

.first1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

.second1 {
    margin-block: 3rem;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
}


.btnholder {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    width: 50%;
}

.left .btn1, .left .btn2 {
    text-align: center;
    flex-grow: 1;
    text-transform: capitalize;
    color: #000000;
    border: .2rem solid black;
    padding: 1rem 2rem;
    border-radius: 100vmax;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.left :is(.btn1, .btn2):hover {
    background: #000000;
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    border-top: .1rem solid #000;
}

.footertext {
    color: #000;
}

footer .social-nav {
    display: flex;
    gap: 2rem;
}


